# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
/.idea/httpRequests/2020-07-30T113719.404.json
/.idea/httpRequests/2020-07-31T023654.200.json
/.idea/httpRequests/http-client.cookies
/.idea/httpRequests/http-requests-log.http
/.idea/modules.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_30_07_2020,_23_20_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_30_07_2020,_23_20_[Default_Changelist]1/shelved.patch
/.idea/TWljaGFsLU9sc3pld3NraQo=.iml
/.idea/shelf/Uncommitted_changes_before_Update_at_30_07_2020__23_20__Default_Changelist_.xml
/.idea/shelf/Uncommitted_changes_before_Update_at_30_07_2020__23_20__Default_Changelist_1.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/
